{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container-fluid mt-5">
        <h1 class="text-center">Connexion</h1>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="form-group offset-3 col-6">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       required autofocus>
            </div>
            <div class="form-group offset-3 col-6">
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="row form-group">
                    <a class=" offset-3" href="{{ path('app_register') }}">Mot de passe oublié ?</a>
                    <p class=" offset-1" >Pas encore de compte ? <a href="{{ path('app_register') }}">Inscrivez-vous</a></p>
            </div>
            <div class="row">
                <div class="offset-7">
                    <button class="btn btn-lg btn-primary" type="submit">Connexion</button>
                </div>
            </div>
        </form>
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
