{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <h1>Products</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Wording</th>
                <td>{{ product.Wording }}</td>
            </tr>
            <tr>
                <th>Ref</th>
                <td>{{ product.Ref }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.Price }}</td>
            </tr>
            <tr>
                <th>Theme</th>
                <td>{{ product.Theme }}</td>
            </tr>
            <tr>
                <th>Rng</th>
                <td>{{ product.Rng }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ product.Age }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.Description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ product.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('products_index') }}">back to list</a>

    <a href="{{ path('products_edit', {'id': product.id}) }}">edit</a>

    {{ include('products/_delete_form.html.twig') }}
{% endblock %}
